<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="fp-service-consumer" />        
    <!-- 测试zk地址 -->
	<dubbo:registry protocol="zookeeper" address="zookeeper://192.168.220.171:2181" /> 
	
	<dubbo:reference id="demoService"  
        interface="com.howbuy.fp.DemoService" group="fdc-das"  protocol="dubbo" check="false">
        <dubbo:method name="sayHello"/>
    	<dubbo:method name="sayBye" async="true" />
    </dubbo:reference>
     				         				        
</beans>        